$primary: rgb(210, 210, 210);
$secondary: #5d3e5d;
$btn-font-size: calc(0.65rem + 1vw);
$white: $primary;

$display-font-sizes: (
  1: 8.5rem
) !default;

body {
  background: no-repeat fixed 25% 100% url("https://wallpapers.com/images/featured/dark-forest-shsyax3tzax42p9o.jpg");
  background-size: cover;
}

@import "../node_modules/bootstrap/scss/bootstrap";

.btn-outline-primary {
  --bs-btn-bg: rgba(0, 0, 0, 0.65);
}

#timer {
  font-family: "Azeret Mono", monospace;
  letter-spacing: -0.2rem;
}

.fa-play, .fa-pause {
  width: calc(3rem + 1vw);
}